*,
*::after,
*::before {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  block-size: 100%;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}


@media (max-width: 1024px) and (min-width: 768px) {
  body {
    padding-top: 70px;
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    }
}

@media (max-width: 768px) {
  body {
    padding-top: 90px;
    padding-left: 16px;
    padding-right: 16px;
    }
}